# Environment configuration for postgres.
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=midatabase

# Environment JWT
JWT_SECRET=mi_super_jwt_secret_123
JWT_EXPIRES_IN=1h

# Environment Refresh Token
JWT_REFRESH_SECRET=mi_super_refresh_secret_456
JWT_REFRESH_EXPIRES_IN=7d 